.todoItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 8px;
}
.textWrap {
    display: flex;
    align-items: center;
}
.textContent {
    padding-left: 8px;
}
.deleteIcon {
    transform: rotate(0deg);
    transition: all ease-in-out;
}
.deleteIcon:hover {
    transform: rotate(45deg);
    transition: all ease-in-out;
}