:global body {
  font-family: 'Noto Sans', sans-serif;
}
button {
  background: transparent;
  border: 0;
  padding: 0;
}
.appTodo {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.appTodoWrap {
  width: 80%;
  border-radius: 12px;
}
.appHeader {
  background: var(--color-bg-header);
  padding: 16px;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px 12px 0 0;
}
.buttonWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 8px;
}
.todoList {
  padding: 16px;
  border-top: 1px solid var(--color-font-header);
  background-color: var(--color-bg);
  color: var(--color-font-content);
  height: 20vh;
  overflow: auto;
}