:root {
  --color-bg: #f9fddd;
  --color-bg-header: #AEC670;
  --color-font-header: #344C11;
  --color-bg-btn: #344C11;
  --color-font-content: #333;
  --color-white: #FFF;
  --color-scrollbar: #aaa7a7;
}

html.dark {
  --color-bg: #344C11;
  --color-bg-header: #1A2902;
  --color-font-header: #AEC670;
  --color-bg-btn: #AEC670;
  --color-font-content: #FFF;
  --color-white: #FFF;
  --color-scrollbar: #aaa7a7;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
